beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
dill==0.2.7.1
et-xmlfile==1.0.1
freeze==1.0.10
idna==2.6
jdcal==1.3
JPype1-py3==0.5.5.2
konlpy==0.4.4
matplotlib==2.1.2
mwparserfromhell==0.5.1
mysql-connector-python==2.1.3
networkx==2.1
numpy==1.14.0
openpyxl==2.5.2
pandas==0.22.0
Pillow==8.2.0
pycrf==0.0.1
PyMySQL==0.8.0
pyparsing==2.2.0
pyreadline==2.1
python-crfsuite==0.9.5
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
selenium==3.8.1
six==1.11.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tqdm==4.22.0
urllib3==1.22
xlrd==1.1.0
psycopg2==2.7.4